name: publish_actions_tags
on:
- push
- workflow_dispatch

jobs:
  run_gitversion:
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    name: Run GitVersion
    outputs:
      semver: ${{ steps.run_gitversion.outputs.semver }}
      major: ${{ steps.run_gitversion.outputs.major }}
      preReleaseTag: ${{ steps.run_gitversion.outputs.preReleaseTag }}
    steps:
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install GitVersion
      run: |
        dotnet tool install -g GitVersion.Tool --version 5.2.4
        echo "::add-path::/github/home/.dotnet/tools"    
        
    - name: Run GitVersion
      id: run_gitversion
      run: |
        pwsh -noprofile -c '(dotnet-gitversion | ConvertFrom-Json).psobject.properties | % { echo ("::set-output name={0}::{1}" -f $_.name, $_.value) }'

  publish_actions_tags:
    runs-on: ubuntu-latest
    name: Publish tags for GitHub Actions
    needs:
    - run_gitversion
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Tag semver
      uses: hole19/git-tag-action@master
      env:
        TAG: v${{ needs.run_gitversion.outputs.semver }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Tag major version
      uses: hole19/git-tag-action@master
      if: needs.run_gitversion.outputs.prereleaseTag == ''
      env:
        TAG: v${{ needs.run_gitversion.outputs.major }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
